<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>MainController</servlet-name>
        <servlet-class>Controller.MainController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginController</servlet-name>
        <servlet-class>Controller.LoginController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterController</servlet-name>
        <servlet-class>Controller.RegisterController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStaffController</servlet-name>
        <servlet-class>Controller.ViewStaffController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStoreController</servlet-name>
        <servlet-class>Controller.ViewStoreController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccController</servlet-name>
        <servlet-class>Controller.DeleteAccController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewCustomerController</servlet-name>
        <servlet-class>Controller.ViewCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewNewOrder_Store</servlet-name>
        <servlet-class>Controller.ViewOrder_Store</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateOrderController</servlet-name>
        <servlet-class>Controller.UpdateOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderWaitingController</servlet-name>
        <servlet-class>Controller.ViewOrderWaitingController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderDetailController</servlet-name>
        <servlet-class>Controller.ViewOrderDetailController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStaffOrderController</servlet-name>
        <servlet-class>Controller.UpdateStaffOrderController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewOrderCustomerController</servlet-name>
        <servlet-class>Controller.ViewOrderCustomerController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>CancelOrderCusController</servlet-name>
        <servlet-class>Controller.CancelOrderCusController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTaskCompletedController</servlet-name>
        <servlet-class>Controller.UpdateTaskCompletedController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertImageController</servlet-name>
        <servlet-class>Controller.InsertImageController</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewReportController</servlet-name>
        <servlet-class>Controller.ViewReportController</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MainController</servlet-name>
        <url-pattern>/MainController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginController</servlet-name>
        <url-pattern>/LoginController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RegisterController</servlet-name>
        <url-pattern>/RegisterController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStaffController</servlet-name>
        <url-pattern>/ViewStaffController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStoreController</servlet-name>
        <url-pattern>/ViewStoreController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccController</servlet-name>
        <url-pattern>/DeleteAccController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewCustomerController</servlet-name>
        <url-pattern>/ViewCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewNewOrder_Store</servlet-name>
        <url-pattern>/ViewNewOrder_Store</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateOrderController</servlet-name>
        <url-pattern>/UpdateOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderWaitingController</servlet-name>
        <url-pattern>/ViewOrderWaitingController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderDetailController</servlet-name>
        <url-pattern>/ViewOrderDetailController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStaffOrderController</servlet-name>
        <url-pattern>/UpdateStaffOrderController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewOrderCustomerController</servlet-name>
        <url-pattern>/ViewOrderCustomerController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>CancelOrderCusController</servlet-name>
        <url-pattern>/CancelOrderCusController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTaskCompletedController</servlet-name>
        <url-pattern>/UpdateTaskCompletedController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertImageController</servlet-name>
        <url-pattern>/InsertImageController</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewReportController</servlet-name>
        <url-pattern>/ViewReportController</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>MainController</welcome-file>
    </welcome-file-list>
    <servlet-name>UpdateTaskCompletedController</servlet-name>
    <url-pattern>/UpdateTaskCompletedController</url-pattern>
    <servlet-class>Controller.UpdateTaskCompletedController</servlet-class>
</web-app>
