/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 16, 2023, 10:57:56 AM
    Author     : nguye
*/

.pagination-container {
    text-align: center;
}

.rounded-image img {
    border-radius: 50%; 
}

.pagination {
    display: inline-block;
    margin: 0;
}

.pagination-link {
    color: #007bff;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    cursor: pointer;
}
.pagination-link:active {
    text-decoration: none;
}
.pagination-link:hover {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}
.star {
    font-size: 24px;
}

.yellow {
    color: gold;
}

.black {
    color: black;
}
.card {
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
}



.heart-icon {
    position: absolute;
    top: 35px; 
    right: 30px; 
    font-size: 25px;
    color: lightgrey;
}
.heart-icon:hover {
    color: red; 
}

.custom-select-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffffff;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.custom-select {
    position: relative;
    width: 60%;
}

.custom-select select {
    width: 100%;
    padding: 10px;
    border: none;
    border-radius: 0;
    background-color: #fff;
    color: #000;
    font-weight: bold;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select button {
    background-color: #007BFF;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 0;
    cursor: pointer;
}

.custom-select-container button {
    margin-top: 0;
}

.custom-select {
    width: 80%; 
}




