/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 16, 2023, 10:57:56 AM
    Author     : nguye
*/

/* CSS cho liên kết phân trang */
/* CSS cho khung bao liên kết "Next" và "Last" */
/* CSS cho liên kết phân trang */
.pagination-container {
    text-align: center;
}

.pagination {
    display: inline-block;
    margin: 0;
}

.pagination-link {
    color: #007bff;
    text-decoration: none;
    padding: 8px 16px;
    transition: background-color 0.3s;
    margin-bottom: 10px;
    display: inline-block;
    border: 1px solid #ddd;
    background-color: #f7f7f7;
    cursor: pointer;
}
.pagination-link:active {
    text-decoration: none;
}
.pagination-link:hover {
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
}
.star {
    font-size: 24px; 
}

.yellow {
    color: gold; 
}

.black {
    color: black; 
}
.card {
    position: relative;
}

.card img {
    width: 100%;
    height: auto;
}

/* CSS cho biểu tượng trái tim */
.heart-icon {
    position: absolute;
    top: 35px; /* Điều chỉnh khoảng cách từ trên xuống */
    right: 30px; /* Điều chỉnh khoảng cách từ phải qua */
    font-size: 25px;
    color: red;
}

