/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 8, 2023, 4:18:28 PM
    Author     : khait
*/
body{
    background-color: #fff;
}
.header{
    border-radius:  5px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    background-color: #75A2C2;
    /*    position: fixed;
        top: 0;*/
}
.logo{
    width: 150px;
}
.menu{
    width: 35%;
}
.menu a{
    margin-left: 20%;
    text-transform: uppercase;
    color: black;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    transition: .1s;
}
.logout{
    width: 35%;
}
.logout a{
    margin-left: 60%;
    text-transform: uppercase;
    font-weight: bold;
    background-color: black;
    border-radius: 30px;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
    cursor: pointer;
    transition: .1s;
}
.banner{
    text-align: center;
}
.banner img{
    width: 100%;
    border-radius: 3px;
}
main{
    margin-left: 70px;
    margin-right: 70px;
}
.store{
    display: flex;
}
a{
    text-decoration: none;
}
