/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Oct 5, 2023, 2:39:32 AM
    Author     : khait
*/
/* Start Global Rules */
* {
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    background-color: #62B7DE;
}
/*.thumnail{
 margin-right: 100px;
}*/
.thumnail img{
    width:  500px;
    height: 500px;
}

.container {
    width: 90%;
    justify-content: space-between;
    justify-content: center;
    display: flex;
    margin: 0 auto;
    padding-top: 100px;
}
.form{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 25px;
    background-color: white;
    width: 400px;
    height: 500px;
}
@media screen and (max-width: 576px) {
    .container {
        width: 100%;
    }
    .form {
        display: block;
    }
}
.form-login h1{
    padding-top: 20px;
    text-align: center;
}
.form-login h2{
    margin-bottom: 0px;
    padding-left: 50px;
}
.form-login h5{
    margin-top: 0px;
    padding-left: 50px;
}
.form-login-content{
    padding-left: 50px;
    padding-right: 50px;
}
.form-login-content .text{
    border-radius: 5px;
    width: 100%;
    height: 30px;
    box-shadow: 3px 3px 5px grey;
}
.btn-login {
    background-color: black;
    border-radius: 30px;
    color: white;
    padding: 10px 40px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-left: 85px;
    cursor: pointer;
    transition: .1s;
}
.btn-login:hover {
    color: aquamarine;
}
.btn-login-gg{
    background-color: lightgrey;
    border-radius: 30px;
    color: black;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin-top: 10px;
    margin-left: 55px;
    cursor: pointer;
    transition: .1s;
}
.btn-login-gg:hover{
    color: red;
}
/* Định dạng cho màn hình có chiều rộng dưới 768px (màn hình di động) */
@media screen and (max-width: 768px) {
    /* Thực hiện điều chỉnh kiểu dáng, bố trí, kích thước phần tử tại đây */
    .container {
        width: 100%; /* Chiếm toàn bộ chiều rộng */
    }
    /* Các điều chỉnh khác... */
}

/* Định dạng cho màn hình có chiều rộng từ 769px trở lên (màn hình máy tính) */
@media screen and (min-width: 769px) {
    /* Thực hiện điều chỉnh kiểu dáng, bố trí, kích thước phần tử tại đây */
    .container {
        width: 70%; /* Chiếm 70% chiều rộng */
    }
    /* Các điều chỉnh khác... */
}